@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap);
:root{
    --yellow:#f9ca24;
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background-color: var(--yellow);
    color: #333;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background-color: #222;
}
html::-webkit-scrollbar-thumb{
    background-color:var(--yellow);
}
body{
    background: #ffffff;
    overflow-x: hidden;
    padding-left: 35rem;
}
section{
    min-height: 100vh;
    padding: 5px;
}
.btn{
    padding: .7rem 3rem;
    background:#111;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i{
    padding:0.5rem;
    font-size: 1.8rem;
}
.btn:hover{
    background: var(--yellow);
}
.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid whitesmoke;
    color: #111;
}
.heading span{
    color: var(--yellow);
}
header{
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #ecdf91;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);
}
header .user .name{
    font-size: 25px;
    color:#222
}
header .user .post{
    font-size: 20px;
    color: #111;
}
header .navbar{
    width: 100%;
}
header .navbar ul{
    list-style: none;
    padding: 5px 15px
}
header .navbar ul li a{
    display: block;
    padding: 8px;
    margin: 7.5px 0;
    background: #ffffff;
    color: #333;
    font-size: 15px;
    border-radius: 20px;
}
header .navbar ul li a :hover{
    background: var(--yellow);
}
#menu{
    position: fixed;
    top: 10px; right: 10px;
    background: antiquewhite;
    color: #111;
    font-size: 15px;
    padding: 5px 8px;
    z-index: 1000;
    display: none;
}
.About{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}
.About h1{
    font-size: 5rem;
    color: #111;
}
.About p{
    font-size: 2rem;
    color: #111;
    padding: 1rem 0;
}
.Skill .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.Skill .row .counter{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Skill .row .counter .box{
    width: 50rem;
    background: antiquewhite;
    text-align: left;
    padding: 3rem;
    margin: 3rem;
}
.Skill .row .counter .box span{
    font-size: 4rem;
    color: var(--yellow);
}
.Skill .row .counter .box h3{
    font-size: 2rem;
    color: black;
}
.Portofolio {
    background: var(--second-bg-color);
    background-color:#ffffff;
}
.Portofolio h1{
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}
.Portofolio-container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: left;
    align-items: center;
    gap: 2.5rem;
}
.Portofolio-container .Portofolio-box {
    flex: 1 1 20rem;
    background: #ecdf91;
    padding: 3rem 2rem 2rem;
    position: relative;
    border-radius: 2rem;
    box-shadow: 1 0 1em var(--bg-color);
    overflow: hidden;
    text-align: center;
}
.Portofolio-box img{
    width: 100%;
    border-radius: 20px;
    border: 0;
    margin-bottom: 2rem;
    box-shadow: 0 0 2rem var(--bg-color);
    letter-spacing: .1rem;
    transition: .5s ease;
}
.Blog .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.Blog .box-container .box{
    height: 20rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid black;
    filter: drop-shadow(0 3px 6px black);
}
.Blog .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.SosialMedia{
    background: linear-gradient(#f9ca24, #ecdf91 70%);
    height: 100%;
    width: 100%;
}
.SosialMedia h2{
    margin-top: 2rem;
    margin-bottom: 15rem;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    color: var(--text-color);
    text-shadow: 0 4px 14px #323946;
} 
.SosialMedia span{
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}
  
.ikon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}
.ikon a{
    display: inline-flex;
    width: 80px;
    height: 80px;
    background: #f9ca24;
    color: var(--text-color);
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
    font-size: 24px;
    padding: 2rem;
    transition: 0.5s;
} 
.ikon a:hover{
    background: yellow;
}
  
.ikon a:hover > i{
    transform: scale(1.02) rotate(25deg);
}
.ikon a i{
    transform: 0.5s all;
}
.Contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.Contact .row .content{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}
.Contact .row form{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}
.Contact .row form .box{
    padding: 1.5rem;
    margin: 1rem 0;
    background: #ecdf91;
    color: #333;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}
.Contact .row form .message{
    height: 15 rem;
    resize: none;
}
.Contact .row .content .title{
    text-transform: uppercase;
    color: #333;
    font-size: 3rem;
    padding-bottom: 2rem;
}
.Contact .row .content .info h1{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: gray;
    padding: 1rem 0;
    font-weight: normal;
}
.Contact .row .content .info h1 i{
    padding-right: 1rem;
    color: var(--yellow);
}